# Java / Maven
target/
*.iml
.idea/

# Node
node_modules/
dist/
build/

# Editors
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.spring/
